{% extends "template.html" %}
{% block body %}




<div class="row">
  <div class="col-md-4">
    <hr>
    <form action="/addcrt" method="POST">
      <div class="form-group">
        <label for = "add_crt">Paste your certificat</label>
    <form action="/generate" method="POST">
      <div class="form-group">
        <div class="form-group">
          <label for = "common_name">Common Name ( Domain Name of website ex: www.pspinc.com ) ** include www. **</label>
          <input type="text" class="form-control" name="common_name">
        </div>
        <div class="form-group">
          <label for = "country">Country ( Two letter code ex: US or JP )</label>
          <input type="text" class="form-control" name="country">
        </div>
        <div class="form-group">
          <label for = "state">State or Province Name ( Full name ex: Washington or Tokyo )</label>
          <input type="text" class="form-control" name="state">
        </div>
        <div class="form-group">
          <label for = "city">City or Locality ( ex: Seattle )</label>
          <input type="text" class="form-control" name="city">
        </div>
        <div class="form-group">
          <label for = "organization">Organization Name ( ex: My Company, LLC ) </label>
          <input type="text" class="form-control" name="organization">
        </div>
        <div class="form-group">
          <label for = "organizational_unit">Organizational Unit or Section ( ex: Internet Division )</label>
          <input type="text" class="form-control" name="organizational_unit">
        </div>
        <div class="form-group">
          <label for = "email_address">E-Mail Address ( Often not used )</label>
          <input type="text" class="form-control" name="email_address">
        </div>
        <button type="submit" class="btn btn-default">Generate CSR</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
